*{
    padding: 0; margin: 0;
}

.container{
    width: 100%;
}

header{
    background-color: #2f3640; height: 70px; width: 100%;
    overflow: hidden; 
}

header .kiri {
    float: left; display: inline;
}

header .kiri img{
    width: 170px; padding: 15px;
}

header .kiri p{
    background: black;
    height: 70px;
    color: grey;
    padding: 25px;
    width: 100px;
    position: absolute;
    display: inline-block;

}

header .kanan{
    float: right;
}

header .kanan img{
    width: 30px;
    height: 30px;
    padding: 25px;
    border-right: 1px solid grey;
    margin: auto;
}

header .kanan img:hover{
    background: #636e72;
}

menu {
    position: absolute; background-color: white; height: 80px; line-height: 80px; width: 100%;
}

menu img{
    padding: 20px;
}

menu .menukiri{
    display: inline-block;
}

.menukiri ul li {
    float: left; list-style:none; 
}

.menukiri ul li a {margin-right: 15px; text-decoration: none; padding: 3px 15px; color: blue;}
.menukiri ul li a:hover {color: black;}

.menukiri ul li ul {
    display: none;
}

.menukiri ul li:hover > ul {
    display:block;
}

.menukiri ul li ul {position: absolute;}
.menukiri ul li ul li {float: none; position: relative; background: white; margin-top: -3px;} 

.menukanan {float: right;} 

.menukanan .hub {display: inline;}
.menukanan .hub img{width: 25px; height: 25px;}
.menukanan .hub p {display: inline-block; margin: auto; height: 80px; position: relative; bottom: 25px; margin-left: -15px;}
.menukanan .sosmed {display: inline;}
.menukanan .sosmed img{width: 25px; height: 25px; display: inline-block;}

.content .bg img{width: 100%; height: 650px;}
.content .tulisan {position: absolute; width: 100%; top: 325px; text-align: center;}
.content .tulisan h1{position: relative; color: white; font-size: 60px; font-family:Georgia, 'Times New Roman', Times, serif;}
.content .tulisan h2{position: relative; color: white; font-size: 14px; font-family:'Courier New', Courier, monospace; word-spacing: -5px;}
.content .tulisan button {position: relative; width: 150px; font-size: 16px; padding: 20px; margin-top:10px; background: turquoise; border-radius: 10px; border: 1px solid turquoise; color: white; font-family:Verdana, Geneva, Tahoma, sans-serif;}
.content .tulisan button:hover{background: red; border: 1px solid red;}



.peta{
    width: 1100px;
    height: auto;
    margin-top: 60px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 60px;
}

.peta iframe{
    width: 1100px;
    height: 550px;
    margin: auto;
    margin-top: 60px;
}

.bkiri{
    float: left; width: 700px; margin-top: 60px;
}

.bkiri h3{margin-bottom: 15px; font-size: 25px;}
.bkiri textarea{
    width: 625px; height: 160px; font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    padding: 15px;
}

.bkiri input {
    width: 635px; height: 40px; margin-top: 30px; font-size: 22px; padding-left: 15px;
}

.bkiri .nama-email {float: left;}
.bkiri .nama-email input {width: 295px; margin-right: 25px; padding-left: 15px;}


button[type=button]{
    padding: 15px;
    width: 120px;
    margin-top: 35px; color: white;
    background: turquoise;
    border: none; border-radius: 5px;
    font-size: 16px;
}

button:hover {background: coral;}

.bkanan {width: 250px; float: left; margin: 100px 0 0 70px;}
.bkanan .touch {margin-bottom: 30px;}
.bkanan img {
    width: 50px; height: 50px;
}

.touch h4 {margin: -50px  0 6px 60px;}
.touch p { margin-left: 60px; color: grey; font-size: 16px; }

footer{
    width: 100%;
    margin: auto;
    background: #130f40;
}

.topf{
    width: 100%;
    padding: 150px 0;
}

.topf .fcont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.topf .footer-content {
    display: flex;
    align-content: center;
    column-gap: 15px;
   
}

.topf .information{
    width: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-right: 25px;
   
}

.topf .concept{
    width: 350px;
    
}

.topf .imagefoot img{
    width: 125px;
    height: 50px;
    margin-bottom: 20px;
}

.topf .info{
    width: auto;
    margin-bottom: 50px;
}

.topf .info p{
    color: white;
}

.topf .info a{
    text-decoration: none;
    color: white;
}

.famous img{
    width: 30px; height: 30px;
    margin-right: 10px;
}

.famous{
    width: auto;
    display: flex;
    align-items: center;
}

.company h3{color: white;}

.company {
    list-style: none;
    width: 170px;
}

.company li{
    padding-top: 40px;
}

.company li a {
    display: block; 
    margin-bottom: 15px; 
    text-decoration: none;
    color: white;
}

.populard h3{
    color: white;
}

.populard .dest {
    width: auto;
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 25px;
}

.dest .tempat1 a{
    display: block;
    text-decoration: none;
    color: white;
    margin-top: 15px;
}

.dest .tempat1 {
    margin-right: 30px;
}

.feed-ig h3{color: white;}

.feed-ig .instagram {
    width: auto;
    display: grid;
    grid-template-columns: auto auto auto;
}

.view img{
    width: 80px; height: 80px;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 5px;
}

.instagram{
    margin-top: 25px;
}
.view{
    margin-top: 5px;
}

.botf{
    width: 100%;
    display: flex;
    align-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.botf .copyright{
    width: 1150px;
    height: auto;
    margin: auto;
    text-align: center;
    padding-top: 25px;
    border-top: 1px solid red;
}

.botf .copyright p{
    font-size: 18px;
    color: white;
}

